<br />
<div>
<% if(page-1){ %>
    <span style="float:left"><a title="上一页" href="?p=<%= page-1 %>">上一页</a></span>
<% } %>

<% if(postsLen==10){ %>
    <span style="float:right"><a title="下一页" href="?p=<%= page+1 %>">下一页</a></span>
<% } %>
</div>